// color variables
$color-primary-light: #f2be5c;
$color-primary-dark: #403831;
$color-secondary: #fff;
$color-accent-red: #c95149;
$color-accent-coffee: #e1dddb;
$color-fantasy: #a74f3d;
$color-classics: #fbdfa9;
$color-dramas: #39379e;
$color-philosphy: #519768;

// responsive breakpoints
$bp-largest: 1280px;
$bp-large: 1024px;
$bp-medium: 768px;
$bp-small: 600px;
$bp-smallest: 480px;
