@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  height: min-content;
  background-color: $color-primary-light;
  padding: 2rem;

  @include flex($justify: space-between);

  @media screen and (max-width: $bp-smallest) {
    gap: 2rem;

    & > div {
      width: 33%;
    }
  }

  &__copyright {
    font-size: 1.3rem;
  }

  &__links {
    @include flex($align: flex-start, $direction: column, $gap: 0.5em);

    @media screen and (max-width: $bp-smallest) {
      align-items: center;
    }

    &-link {
      font-size: 1.5rem;
      color: $color-primary-dark;
      text-align: center;
    }
  }
}
