@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  height: min-content;
  width: 100vw;
  padding: 0 2rem;
  background-color: $color-primary-light;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  @include flex($justify: space-between);

  &__left {
    @include flex($gap: 1rem);
  }

  & .material-symbols-outlined {
    color: $color-primary-dark;
  }

  &__link {
    position: relative;
    margin-right: 2rem;

    @media screen and (max-width: $bp-large) {
      margin-right: 0;
    }

    &__item-count {
      display: block;
      color: #fff;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $color-accent-red;
      position: absolute;
      top: -25%;
      right: -10%;

      @include flex();
    }
  }
}

.open-btn {
  cursor: pointer;
}
