@use "../abstracts/variables" as *;

.logo {
  font-size: 3.5rem;
  width: max-content;
  position: relative;

  &::before {
    content: "";
    width: 75%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    bottom: 10%;
  }
}

.logo--dark {
  color: $color-primary-dark;
}
